{% extends 'base.html.twig' %}

{% block content %}
    <h1>Welcome</h1>

    <h2>Signup</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" value="Signup">
    {{ form_end(form) }}

{% endblock %}
